In [2]:
pip install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysql-connector-python in /Users/jean-marclubiba/Library/Python/3.9/lib/python/site-packages (8.1.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in /Users/jean-marclubiba/Library/Python/3.9/lib/python/site-packages (from mysql-connector-python) (4.21.12)
WARNING: You are using pip version 21.2.4; however, version 23.2.1 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [3]:
#Connecting Mysql with python using the connector module
import mysql.connector as connector
from mysql.connector import Error

#Connecting to the MySQL database with a try/except error handling to let us know if something doesn't go well with the connection
try:
    connection = connector.connect(user = 'root', password='', database = 'LittleLemonDB')
except Error as er:
    print('Error code: ', er.errno)
    print('Error message: ', er.msg)

#Printing the current database name
print('The current database is: ', connection.database)

The current database is:  littlelemondb

In [4]:
#Creating a cursor with the variable 'connection'
cursor = connection.cursor()

In [5]:
#Qurery the list of tables in the database LittleLemonDB
show_tables_query = """SHOW TABLES;"""

#Using the cursor to execute the MySQL command and printing the result
cursor.execute(show_tables_query)
print('Printing the list of tables:')

for table in cursor:
    print('->', table[0])

Printing the list of tables:
-> Bookings
-> Cuisine
-> Customer
-> Menu
-> Menu_Item
-> Order Delivery Status
-> Orders
-> ordersview
-> Staff

In [6]:
#Query the Orders table information
Show_Orders_table_query = """SELECT * FROM Orders;"""

#Executing the MySQL command
cursor.execute(Show_Orders_table_query)

#Printing the table's attributes
print(cursor.column_names)

#Print the rows
for row in cursor:
    print('-> {}, {}, ${}, {}, {}, {}, {}'.format(row[0], row[1], row[2], row[3], row[4], row[5], row[6]))

('OrdersID', 'Quantity', 'Total Cost', 'Date', 'StaffID', 'MenuID', 'BookingID')
-> 1, 2, $86.00, 2023-07-18, 7, 1, 1
-> 2, 1, $37.00, 2023-07-18, 7, 2, 2
-> 3, 1, $37.00, 2023-07-16, 5, 2, 3
-> 4, 1, $40.00, 2023-07-17, 5, 3, 4
-> 5, 1, $43.00, 2023-07-16, 2, 1, 5
-> 6, 3, $111.00, 2023-07-18, 5, 2, 3
-> 7, 5, $200.00, 2023-07-16, 7, 3, 2

In [7]:
#Query the Bookings table information
Show_Bookings_table_query = """SELECT * FROM Bookings;"""
#Executing the MySQL command
cursor.execute(Show_Bookings_table_query)

#Printing the table's attributes
print(cursor.column_names)

#Print the rows
for row in cursor:
    print('-> {} ,{} ,{} ,{}'.format(row[0], row[1], row[2], row[3]))

('BookingsID', 'Booking Date', 'Table Number', 'CustomerID')
-> 1 ,2023-07-18 ,12 ,1
-> 2 ,2023-07-17 ,12 ,1
-> 3 ,2023-07-18 ,19 ,3
-> 4 ,2023-07-05 ,15 ,4
-> 5 ,2023-07-18 ,5 ,2
-> 6 ,2023-07-16 ,8 ,5
-> 7 ,2022-10-10 ,5 ,1
-> 8 ,2022-11-12 ,3 ,3
-> 9 ,2022-10-11 ,2 ,2
-> 10 ,2022-10-13 ,2 ,1

In [8]:
#Query the Customer table information
Show_Customer_table_query = """SELECT * FROM Customer;"""
#Executing the MySQL command
cursor.execute(Show_Customer_table_query)

#Printing the table's attributes
print(cursor.column_names)

#Print the rows
for row in cursor:
    print('-> {} ,{} ,{} ,{}'.format(row[0], row[1], row[2], row[3]))

('CustomerID', 'Customer Name', 'Phone Number', 'Email')
-> 1 ,Anna Iversen ,+1(234)-567-890 ,Anna.I@email.com
-> 2 ,Joakim Iversen ,+1(678)-912-345 ,Joakim.I@email.com
-> 3 ,Vanessa McCarthy ,+1(678)-456-123 ,Vanessa.M@email.com
-> 4 ,Marcos Romero ,+1(456)-678-123 ,Marcos.R@email.com
-> 5 ,Hiroki Yamane ,+1(678)-123-456 ,Hiroki.Y@email.com
-> 6 ,Diana Pinto ,+1(123)-456-678 ,Diana.P@email.com

In [9]:
#Query the Customer's Names and contact details for Orders over $60
Orders_greater_than_60_query = """
SELECT
Customer.`Customer Name`, Customer.`Phone Number`, Customer.`Email`, Orders.`Total Cost`
FROM Customer INNER JOIN Bookings INNER JOIN Orders
ON
Customer.`CustomerID` = Bookings.`CustomerID`
AND
Bookings.`BookingsID` = Orders.`BookingID`
WHERE
Orders.`Total Cost` > 60;
"""

#Executing the MySQL command
cursor.execute(Orders_greater_than_60_query)



#Print the ccustomers information
print('Here are the customers whose orders are above $60:')
for row in cursor:
    print('\nCustomer Name: {}'.format(row[0]))
    print('Phone NUmber: {}'.format(row[1]))
    print('Email Adress: {}'.format(row[2]))
    print('Bill AMount: ${}'.format(row[3]))

Here are the customers whose orders are above $60:

Customer Name: Anna Iversen
Phone NUmber: +1(234)-567-890
Email Adress: Anna.I@email.com
Bill AMount: $86.00

Customer Name: Vanessa McCarthy
Phone NUmber: +1(678)-456-123
Email Adress: Vanessa.M@email.com
Bill AMount: $111.00

Customer Name: Anna Iversen
Phone NUmber: +1(234)-567-890
Email Adress: Anna.I@email.com
Bill AMount: $200.00

In [13]:
cursor.callproc('GetMaxQuantity')
results = next(cursor.stored_results())
dataset = results.fetchall()

# Retrieve column names using list comprehension in a 'for' loop
for column_id in cursor.stored_results():
    columns = [ column[ 0 ] for column in column_id.description ]

print(columns)

for data in dataset:
    print('-> {}'.format(data[0]))

['Max Quantity']
-> 5

In [14]:
#Checking the connection is still open and closing it
if connection.is_connected():
    cursor.close()
    print('The cursor has been closed.')
    connection.close()
    print('The connection has been closed.')
else:
    print('The connection is already closed.')

The cursor is closed.
The connection is closed.